body {
  margin: 0;
  padding: 0;
  background-color: #1a1a2e;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px #e94560;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px #458fe9;
}

p {
  font-size: 1.2rem;
  color: #a0a0a0;
  margin-bottom: 30px;
}

a {
    color: rgb(89, 89, 229);
}

.btn {
  padding: 10px 20px;
  border: 2px solid #e94560;
  color: #e94560;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e94560;
  color: #fff;
}

/* SVG Animation */
.astronaut-svg {
  width: 300px;
  height: auto;
  animation: float 6s ease-in-out infinite;
}

.eye {
  animation: blink 4s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes blink {
  0%,
  90%,
  100% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(0.1);
    transform-origin: center;
  }
}
